/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ お問い合わせ ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.contact_title h2 {
  text-align: center;
  margin: 40px 0 20px;
  font: normal normal bold 20px Noto Sans CJK JP, sans-serif;
  color: #2E2E2E;
}

@media (min-width:770px) {
  .contact_title h2 {
    margin: 80px 0 60px;
    font-size: 28px;
  }
}

@media (min-width:1050px) {
  .contact_title h2 {
    margin: 91px 0 73px;
  }
}

.contact_subtitle {
  width: 80%;
  margin: 0 auto;
}

@media (min-width:770px) {
  .contact_subtitle {
    width: 600px;
  }
}

@media (min-width:1050px) {
  .contact_subtitle {
    width: 980px;
  }
}

.contact_subtitle h3 {
  text-align: center;
  font: normal normal bold 18px Noto Sans CJK JP, sans-serif;
  color: #FF5555;
  margin-bottom: 10px;
}

@media (min-width:770px) {
  .contact_subtitle h3 {
    font-size: 22px;
  }
}

@media (min-width:1050px) {
  .contact_subtitle h3 {
    margin-bottom: 0;
  }
}

.customer h3 {
  margin-bottom: 14px;
}

@media (min-width:770px) {
  .customer h3 {
    margin-bottom: 28px;
  }
}

.notice {
  text-align: left;
  font: normal normal 300 14px/20px Noto Sans CJK JP, sans-serif;
  color: #2E2E2E;
  white-space: nowrap;
}

.notice span {
  text-align: left;
  font: normal normal medium 20px/20px Noto Sans CJK JP, sans-serif;
  color: #B02020;
}

.asterisk {
  font: normal normal bold 20px/32px Noto Sans CJK JP, sans-serif;
  color: #B02020;
  margin-left: 5px;
}

/*------------------------------------ 問い合わせフォーム --------------------------------------*/

.contact_form {
  width: 80%;
  margin: 9px auto 28px;
  border: 1px solid #A5A5A5;
}

@media (min-width:770px) {
  .contact_form {
    width: 600px;
  }
}

@media (min-width:1050px) {
  .contact_form {
    width: 980px;
  }
}

.contact_form li {
  display: flex;
}

.contact_form li:not(:last-child) {
  border-bottom: 1px solid #A5A5A5;
}

.contact_form_title {
  width: 35%;
  background-color: #E7E7E7;
  font: normal normal bold 12px Noto Sans CJK JP, sans-serif;
  padding: 15px 10px;
  display: flex;
  align-items: center;
}

@media (min-width:770px) {
  .contact_form_title {
    font-size: 15px;
    width: 246px;
    padding: 27px 24px;
  }
}

@media (min-width:1050px) {
  .contact_form_title {
    font-size: 18px;
  }
  .contact_form_title br {
    display: none;
  }
}

/* 現在依頼中の不動産 */

.small_title {
  font-size: 10px;
}

@media (min-width:770px) {
  .small_title {
    font-size: 15px;
  }
}

@media (min-width:1050px) {
  .small_title br {
    display: none;
  }
}

.contact_form_items {
  width: 80%;
  margin: 10px 20px;
}

@media (min-width:770px) {
  .contact_form_items {
    width: 733px;
    margin: 18px 40px;
  }
}

@media (min-width:1050px) {
  .contact_form_items {
    width: 733px;
    margin: 27px 52px;
  }
}

.contact_form_items input, .contact_form_items textarea {
  padding: 10px;
}

.mwform-radio-field-text {
  font: normal normal normal 12px Noto Sans CJK JP, sans-serif;
}

@media (min-width:770px) {
  .mwform-radio-field-text {
    font-size: 16px;
  }
}

.mwform-radio-field {
  display: inline-block;
  margin: 0!important;
  margin-bottom: 10px!important;
}

.form1 .mwform-radio-field {
  width: 100%;
}

.form2 .mwform-radio-field {
  width: 100%;
}

.form1, .form2 {
  margin-bottom: 0px;
}

.form3 {
  display: flex;
  align-items: center;
}

@media (min-width:770px) {
  .form1 .mwform-radio-field {
    width: 300px;
  }
  .form2 .mwform-radio-field {
    width: 150px;
    margin-bottom: 10px!important;
  }
  .form1, .form2 {
    margin-bottom: 8px;
  }
}

/* 物件所在地 */

.input_text {
  font: normal normal normal 14px Noto Sans CJK JP, sans-serif;
  width: 100%;
  height: 26px;
}

@media (min-width:770px) {
  .input_text {
    width: 350px;
    height: 42px;
    font-size: 16px;
  }
}

@media (min-width:1050px) {
  .input_text {
    width: 632px;
  }
}

/* 内容 */

.form_content {
  width: 100%;
  height: 200px;
  font: normal normal normal 16px Noto Sans CJK JP, sans-serif;
}

@media (min-width:770px) {
  .form_content {
    font-size: 16px;
    width: 350px;
    height: 248px;
  }
}

@media (min-width:1050px) {
  .form_content {
    width: 632px;
  }
}

/* お客様情報 */

.user_form {
  margin: 20px 20px;
  display: flex;
  align-items: center;
}

@media (min-width:770px) {
  .user_form {
    margin: 18px 40px;
  }
}

@media (min-width:1050px) {
  .user_form {
    margin: 27px 52px;
  }
}

/*------------------------------------ 個人情報について --------------------------------------*/

.check_privacy {
  margin: 55px auto 10px;
  text-align: left;
  width: 80%;
}

.check_privacy h3 {
  font: normal normal normal 16px/26px Noto Sans CJK JP, sans-serif;
  margin-bottom: 15px;
  text-align: center;
}

.check_privacy p {
  width: 70%;
  text-align: left;
  margin: 0 auto 14px;
  font: normal normal normal 12px Noto Sans CJK JP, sans-serif;
  color: #2E2E2E;
}

@media (min-width:770px) {
  .check_privacy p {
    width: 500px;
    font-size: 14px;
  }
  .check_privacy h3 {
    font-size: 18px;
    margin-bottom: 26px;
  }
}

@media (min-width:1050px) {
  .check_privacy p {
    width: 770px;
  }
}

.check_privacy_content {
  margin: auto;
  width: 80%;
  height: 266px;
  background-color: #FCFCFC;
  overflow-y: scroll;
  border: 1px solid #AEAEAE;
  padding-bottom: 20px;
  font-size: 12px;
}

@media (min-width:770px) {
  .check_privacy_content, .check_privacy {
    width: 500px;
    font-size: 14px;
  }
}

@media (min-width:1050px) {
  .check_privacy_content, .check_privacy {
    width: 780px;
  }
}


.check_privacy_content div {
  margin: 24px 22px 0;
  width: 90%;
}

@media (min-width:1050px) {
  .check_privacy_content div {
    width: 95%;
  }
}

.check_privacy_content h1 {
  text-align: left;
  font: normal normal bold 14px Noto Sans CJK JP, sans-serif;
  letter-spacing: 0.8px;
  color: #2E2E2E;
  margin-bottom: 5px;
}

.check_privacy_content p, .check_privacy_content ol {
  margin-top: 8px;
  width: 90%;
  text-align: left;
  font: normal normal normal 12px Noto Sans CJK JP, sans-serif;
  letter-spacing: 0.7px;
  color: #2E2E2E;
}

@media (min-width:770px) {
  .check_privacy_content p .check_privacy_content ol {
    width: 430px;
    font-size: 14px;
    line-height: 28px;
    margin-top: 13px;
  }
  .check_privacy_content h1 {
    font-size: 16px;
    line-height: 32px;
  }
}

@media (min-width:1050px) {
  .check_privacy_content p .check_privacy_content ol {
    width: 713px;
  }
}

.check_privacy_content p, .check_privacy_content li {
  text-align: left;
  list-style: decimal;
}

.check_privacy_content ul li {
  list-style: disc;
}

.check_privacy_content ol, .check_privacy_content ul {
  padding-left: 20px;
}

.privacy_check {
  text-align: center;
  margin: 40px auto 0;
}

@media (min-width:770px) {
  .privacy_check {
    width: 307px;
  }
}

.privacy_check br {
  display: none;
}

.privacy_check input {
  transform: scale(2.0);
}

.privacy_check label {
  margin-left: 11px;
  text-align: left;
  font: normal normal bold 14px Noto Sans CJK JP, sans-serif;
  color: #2E2E2E;
}

.privacy_check_p {
  text-align: center;
  margin: 23px auto 40px;
  font: normal normal normal 12px Noto Sans CJK JP, sans-serif;
  color: #2E2E2E;
  width: 70%;
}

@media (min-width:770px) {
  .privacy_check label {
    font-size: 16px
  }
  .privacy_check input {
    transform: scale(1.5);
  }
  .privacy_check_p {
    width: 380px;
    margin-bottom: 60px;
  }
}

@media (min-width:1050px) {
  .privacy_check label {
    font-size: 18px;
  }
  .privacy_check input {
    transform: scale(2.0);
  }
  .privacy_check_p {
    width: 100%;
    margin-bottom: 74px;
  }
}

.submit_check {
  opacity: 0.7;
  cursor: not-allowed;
}

.check_btn {
  width: 250px;
  height: 60px;
  background-color: #3D3D3D;
  box-shadow: 0px 10px 20px #0000001A;
  font: normal normal normal 18px Noto Sans CJK JP, sans-serif;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  margin: 0 auto 50px;
}

@media (min-width:770px) {
  .check_btn {
    width: 280px;
    height: 70px;
    font-size: 20px;
    margin: 0 0 80px;
  }
}

@media (min-width:1050px) {
  .check_btn {
    width: 330px;
    height: 85px;
    font-size: 24px;
    margin-bottom: 95px;
  }
}


/* ラジオボタンの色変更 */
input[type=radio] {
  display: none;
}
.mwform-radio-field-text {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0px 30px;
  position: relative;
  width: auto;
}
.mwform-radio-field-text::before {
  background: #fff;
  border: 1px solid #183c30;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.mwform-radio-field-text::after {
  background: #DAD6D6;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 8px;
  margin-top: -5px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 10px;
}
input[type=radio]:checked + .mwform-radio-field-text::after {
  opacity: 1;
}
input[type="radio"],input[type="checkbox"]{
position: relative;
top: 2px;
}

/*------------------------------------ 確認ページ --------------------------------------*/

.mw_wp_form_confirm .check_btn {
  width: 150px;
  height: 40px;
}

@media (min-width:520px) {
.mw_wp_form_confirm .check_btn {
  width: 200px;
  height: 50px;
}
}

.check_btn_div {
  text-align: center;
}

.mw_wp_form_confirm .check_btn_div {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  margin: 50px auto 0;
}

@media (min-width:770px) {
  .mw_wp_form_confirm .check_btn_div {
    width: 460px;
    justify-content: space-between;
    flex-direction: row;
  }
  .mw_wp_form_confirm .check_btn {
    width: 200px;
    height: 50px;
  }
}

@media (min-width:1050px) {
  .mw_wp_form_confirm .check_btn_div {
    width: 780px;
    margin-top: 80px;
  }
  .mw_wp_form_confirm .check_btn {
    width: 280px;
    height: 70px;
  }
}

.mw_wp_form_confirm .contact_form_items {
  font: normal normal normal 12px Noto Sans CJK JP, sans-serif;
}

.mw_wp_form_confirm .contact_form_items {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

@media (min-width:770px) {
  .mw_wp_form_confirm .contact_form_items {
    font-size: 16px;
  }
}

.mw_wp_form_confirm .check_btn_div p:first-child, .mw_wp_form_confirm .check_privacy, .mw_wp_form_confirm .check_privacy_content, .mw_wp_form_confirm .privacy_check, .mw_wp_form_confirm .privacy_check_p {
  display: none;
}

.mw_wp_form_preview .contact_textarea {
  padding: 10px 0;
}

/*------------------------------------ OKページ --------------------------------------*/

.mw_wp_form_complete {
  font: normal normal normal 14px Noto Sans CJK JP, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width:770px) {
  .mw_wp_form_complete {
    font-size: 18px;
    margin-bottom: 50px;
  }
}