    /*-------------------------------------- ヘッダー --------------------------------------*/
    
    header {
        width: 100%;
        z-index: 99;
        position: relative;
    }
    
    .head {
        position: absolute;
        top: 23.7px;
        left: 0;
        right: 0;
        width: 1167.4px;
        height: 47.29px;
        display: flex;
        margin: 0 auto;
    }
    
    .header_logo {
        width: 242.81px;
        margin-right: 87.6px;
    }
    
    .header_logo img {
        width: 100%;
    }
    /*　ハンバーガーボタン　*/
    
    .hamburger {
        display: block;
        position: fixed;
        z-index: 99;
        right: 13px;
        top: 3px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;
        align-items: center;
    }
    
    @media (min-width:1175px) {
        .hamburger {
            display: none;
        }
    }
    
    .hamburger span {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 6px;
        background: rgb(83, 83, 83);
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    
    .hamburger span:nth-child(1) {
        top: 10px;
    }
    
    .hamburger span:nth-child(2) {
        top: 20px;
    }
    
    .hamburger span:nth-child(3) {
        top: 30px;
    }
    /* ナビ開いてる時のボタン */
    
    .hamburger.active {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .hamburger.active span:nth-child(2) {
        width: 0px;
    }
    
    .hamburger.active span:nth-child(1),
    .hamburger.active span:nth-child(3) {
        background: rgb(83, 83, 83);
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    
    .hamburger.active span:nth-child(1) {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -o-transform: translateY(4px);
        transform: translateY(4px);
    }
    
    .hamburger.active span:nth-child(3) {
        -webkit-transform: translateY(-16px) rotate(90deg);
        -ms-transform: translateY(-16px) rotate(90deg);
        -o-transform: translateY(-16px) rotate(90deg);
        transform: translateY(-16px) rotate(90deg);
    }
    
    nav.globalMenuSp {
        width: 70%;
        font-size: 1.6rem;
        color: #4A4A4A;
        display: none;
        transition: opacity .6s ease, visibility 1.6s ease;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 60px 20px 0 25px;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 60px 20px 0 20px;
    }
    
    @media (min-width:1175px) {
        nav.globalMenuSp {
            position: relative;
            font-size: 1.6rem;
            opacity: 1;
            display: block;
            background-color: transparent;
            padding: 0;
            width: 837px;
            top: 20px;
        }
    }
    
    nav.globalMenuSp ul {
        padding: 0;
        width: 100%;
    }
    
    @media (min-width:1175px) {
        nav.globalMenuSp ul {
            display: flex;
            justify-content: space-between;
        }
    }
    
    nav.globalMenuSp ul li {
        list-style-type: none;
        padding: 12px;
        width: 100%;
        transition: .4s all;
        font: normal normal bold 15px Yu Gothic;
        color: #4A4A4A;
        border-bottom: 1px solid rgb(83, 83, 83);
        white-space: nowrap;
        margin-right: 37.33px;
    }
    
    @media (min-width:1175px) {
        nav.globalMenuSp ul li {
            padding: 0;
            border-bottom: none;
            font-size: 15px;
        }
    }
    
    nav.globalMenuSp ul li:last-child {
        margin-right: 0;
    }
    
    nav.globalMenuSp ul li a {
        display: block;
        color: #4A4A4A;
        text-decoration: none;
    }
    /* このクラスを、jQueryで付与・削除する */
    
    nav.globalMenuSp.active {
        opacity: 1;
        display: block;
    }
    /*------------------------------------ 見出し --------------------------------------*/
    
    .main {
        position: relative;
        height: 427px;
    }
    
    @media (min-width:1000px) {
        .main {
            height: 573px;
        }
    }
    
    .header_back {
        width: 100%;
    }
    
    .main h1 {
        position: absolute;
        top: 143px;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font: normal normal bold 24px/45px Noto Sans CJK JP, sans-serif;
        color: #FF5555;
        letter-spacing: 12px;
        white-space: nowrap;
    }
    
    @media (min-width:1000px) {
        .main h1 {
            top: 178px;
        }
    }
    
    .top_white {
        position: absolute;
        top: 242.2px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #ffff;
        width: 686px;
        height: 145px;
    }
    
    @media (min-width:1000px) {
        .top_white {
            top: 346px;
            width: 980px;
            height: 227px;
        }
    }
    
    .top_white_back {
        position: absolute;
        top: 39px;
        left: 0;
        right: 0;
        margin: auto;
        width: 552.3px;
        height: 239.8px;
    }
    
    @media (min-width:1000px) {
        .top_white_back {
            top: 55.7px;
            width: 789px;
            height: 342.6px;
        }
    }
    
    .top_white_universe {
        position: absolute;
        top: 39px;
        left: 0;
        right: 0;
        margin: auto;
        width: 552.3px;
        height: 239.8px;
        animation: anime1 1.4s ease 0s infinite normal;
        transform-origin: center;
    }
    
    @media (min-width:1000px) {
        .top_white_universe {
            top: 55.7px;
            width: 789px;
            height: 342.6px;
            animation: anime1 1.4s ease 0s infinite normal;
        }
    }
    
    @keyframes anime1 {
        from {
            transform: scale(1.0, 1.0);
        }
        to {
            transform: scale(1.35, 1.35);
            opacity: 0;
        }
    }
    
    .top_white_logo {
        position: absolute;
        top: 25.2px;
        left: 0;
        right: 0;
        margin: auto;
        width: 210px;
        height: 210px;
        padding: 0;
    }
    
    @media (min-width:1000px) {
        .top_white_logo {
            top: 36px;
            margin: auto;
            width: 300px;
            height: 300px;
        }
    }
    
    .top_white a {
        position: absolute;
        top: 192.5px;
        left: 0;
        right: 0;
        margin: auto;
        width: 69.3px;
        text-align: center;
        padding: 5px 12px 5px 10px;
        color: #ffff;
        background-color: #3D3D3D;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 12px;
        letter-spacing: 0.8px;
        white-space: nowrap;
    }
    
    @media (min-width:1000px) {
        .top_white a {
            top: 275px;
            width: 99px;
            padding: 4px 25px 5px 26px;
            font-size: 16px;
            letter-spacing: 0.8px;
            white-space: nowrap;
        }
    }
    /*------------------------------------ Strengths --------------------------------------*/
    
    .Strengths {
        position: relative;
        width: 100%;
        height: 1600px;
        background-color: #E7E7E7;
        text-align: center;
        z-index: -1;
    }
    
    @media (min-width:1000px) {
        .Strengths {
            height: 1332px;
        }
    }
    
    .strengths_main {
        position: absolute;
        top: 265px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    
    .strengths_main h2 {
        color: #FF5555;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 8.4px;
        margin-bottom: 19px;
    }
    
    .strengths_main h3 {
        color: #2E2E2E;
        font-family: 'Noto Sans JP', sans-serif;
        /* font: normal normal bold 22px Noto Sans CJK JP, sans-serif; */
        letter-spacing: 4.4px;
    }
    
    .strength_pic {
        position: absolute;
        top: 429px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    
    .strength_pic_list1 {
        display: flex;
        width: 698px;
        flex-wrap: wrap;
        padding-left: 0;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: space-between;
        text-align: center;
    }
    
    @media (min-width:1000px) {
        .strength_pic_list1 {
            display: flex;
            width: 981px;
            height: 331px;
            padding-left: 0;
            left: 0;
            right: 0;
            margin: auto;
            justify-content: space-between;
            margin-bottom: 30px;
            text-align: center;
        }
    }
    
    .strength_pic_list1 li {
        width: 306px;
        padding-bottom: 25px;
        margin: 0 auto;
    }
    
    @media (min-width:1000px) {
        .strength_pic_list1 li {
            width: 306px;
            margin-bottom: 0;
        }
    }
    
    .strength_pic_list1 img {
        margin-bottom: 20px;
        width: 306px;
        height: 207.5px;
    }
    
    @media (min-width:1000px) {
        .strength_pic_list1 img {
            margin-bottom: 40.5px;
        }
    }
    
    .strength_pic_list1 p {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 18px;
        color: #1A1A1A;
    }
    
    .strength_pic_list2 {
        display: flex;
        width: 698px;
        height: 363px;
        padding-left: 0;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: space-between;
        text-align: center;
    }
    
    @media (min-width:1000px) {
        .strength_pic_list2 {
            display: flex;
            width: 698px;
            height: 363px;
            padding-left: 0;
            left: 0;
            right: 0;
            margin: auto;
            justify-content: space-between;
            text-align: center;
        }
    }
    
    .strength_pic_list2 li {
        width: 306px;
        margin-bottom: 7%;
    }
    
    @media (min-width:1000px) {
        .strength_pic_list2 li {
            width: 306px;
            margin-bottom: 0;
        }
    }
    
    .strength_pic_list2 img {
        margin-bottom: 20px;
        width: 306px;
        height: 207.5px;
    }
    
    @media (min-width:1000px) {
        .strength_pic_list2 img {
            margin-bottom: 40.5px;
        }
    }
    
    .strength_pic_list2 p {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 18px;
        color: #1A1A1A;
    }
    
    .strength_more {
        background-color: #3D3D3D;
        width: 99px;
        height: 33px;
        padding: 6px 25px 5px 26px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px;
        color: #fff;
        margin: 52px auto 0;
        display: block;
        letter-spacing: 0.8px;
        white-space: nowrap;
    }
    /*------------------------------------ INTERVIEW --------------------------------------*/
    
    .interview_box {
        height: 659.1px;
    }
    
    @media (min-width:1000px) {
        .interview_box {
            height: 941.64px;
        }
    }
    
    .interview_box h1 {
        padding-top: 84.7px;
        margin-bottom: 13px;
        text-align: center;
        font: normal normal bold 28px Noto Sans CJK JP;
        letter-spacing: 8.4px;
        color: #FF5555;
    }
    
    @media (min-width:1000px) {
        .interview_box h1 {
            padding-top: 121px;
            margin-bottom: 19px;
            text-align: center;
            font: normal normal bold 28px Noto Sans CJK JP;
            letter-spacing: 8.4px;
            color: #FF5555;
        }
    }
    
    .interview_box h2 {
        margin-bottom: 70px;
        text-align: center;
        font: normal normal bold 22px Noto Sans CJK JP;
        letter-spacing: 4.4px;
        color: #2E2E2E;
    }
    
    @media (min-width:1000px) {
        .interview_box h2 {
            margin-bottom: 98px;
        }
    }
    
    .interview_picture {
        position: relative;
        margin: auto;
        width: 686px;
    }
    
    @media (min-width:1000px) {
        .interview_picture {
            margin: auto;
            width: 980px;
        }
    }
    
    .interview_picture img {
        position: relative;
        width: 370.8px;
    }
    
    @media (min-width:1000px) {
        .interview_picture img {
            position: relative;
            width: 529.7px;
        }
    }
    
    .interview_right_box {
        position: absolute;
        width: 365.2px;
        height: 294px;
        top: 64.12px;
        left: 320.8px;
        background-color: #E7E7E7;
        opacity: 0.9;
    }
    
    @media (min-width:1000px) {
        .interview_right_box {
            position: absolute;
            width: 521.69px;
            height: 420px;
            top: 91.6px;
            left: 458.3px;
            background-color: #E7E7E7;
            opacity: 0.9;
        }
    }
    
    .interview_right_box h3 {
        padding-top: 33.15px;
        padding-bottom: 28.7px;
        padding-left: 44.24px;
        font: normal normal bold 15px "Noto Sans CJK JP";
        letter-spacing: 3.1px;
        color: #2E2E2E;
    }
    
    @media (min-width:1000px) {
        .interview_right_box h3 {
            padding-top: 47.36px;
            padding-bottom: 41px;
            padding-left: 63.19px;
            font: normal normal bold 22px "Noto Sans CJK JP";
            letter-spacing: 4.4px;
        }
    }
    
    .interview_right_box p {
        margin-left: 44.24px;
        margin-bottom: 15px;
        width: 288.4px;
        text-align: left;
        font: normal normal bold 12px/32px Noto Sans CJK JP;
        letter-spacing: 2.3px;
        color: #2E2E2E;
    }
    
    @media (min-width:1000px) {
        .interview_right_box p {
            margin-left: 63.19px;
            margin-bottom: 53px;
            width: 412px;
            text-align: left;
            font: normal normal bold 16px/32px Noto Sans CJK JP;
            letter-spacing: 3.2px;
        }
    }
    
    .interview_right_box a {
        margin-left: 44.24px;
        padding: 4px 25px 5px 26px;
        background-color: #3D3D3D;
        font: normal normal normal 12px "Noto Sans CJK JP";
        letter-spacing: 0.8px;
        color: #FFFFFF;
    }
    
    @media (min-width:1000px) {
        .interview_right_box a {
            margin-left: 63.19px;
            padding: 4px 25px 5px 26px;
            background-color: #3D3D3D;
            font: normal normal normal 16px "Noto Sans CJK JP";
            letter-spacing: 0.8px;
        }
    }
    /*------------------------------------ FLOW --------------------------------------*/
    
    .flow {
        background-color: #0C0C0C;
        color: #FFFFFF;
        width: 100%;
        height: 757px;
    }
    
    .flow h1 {
        text-align: center;
        padding: 94.36px 0 19px;
        font: normal normal bold 28px "Noto Sans CJK JP";
        letter-spacing: 8.4px;
    }
    
    .flow h2 {
        text-align: center;
        margin-bottom: 103px;
        font: normal normal normal 22px "Noto Sans CJK JP"!important;
        letter-spacing: 4.4px;
    }
    
    .flow_icon_list {
        display: flex;
        justify-content: center;
    }
    
    .flow_icon {
        width: 260px;
    }
    
    .flow_icon_number {
        font: normal normal normal 30px Ten Mincho, serif;
        letter-spacing: 1.5px;
        color: #FF9494;
        margin-left: 60px;
        z-index: 10;
        position: relative;
    }
    
    .icon_box {
        width: 125px;
        height: 105px;
        background-color: #D6D6D6;
        position: relative;
        top: -17px;
        left: 86px;
        z-index: 5;
    }
    
    .icon_box p {
        font: normal normal bold 18px "Noto Sans CJK JP";
        letter-spacing: 3.6px;
        color: #2E2E2E;
        padding-top: 38px;
    }
    
    .flow_icon p {
        text-align: center;
    }
    
    .flow_constract {
        margin-top: 24px;
        margin-bottom: 25px;
        font: normal normal bold 18px "Noto Sans CJK JP";
        letter-spacing: 3.6px;
    }
    
    .flow_detail {
        font: normal normal normal 14px/32px "Noto Sans CJK JP";
    }
    
    .more_button {
        width: 99px;
        height: 33px;
        margin: 52px auto 88.64px;
    }
    
    .more_button a {
        background-color: #FFFFFF;
        box-shadow: 0px 10px 20px #0000001A;
        font: normal normal bold 16px "Noto Sans CJK JP";
        letter-spacing: 0.8px;
        color: #232323;
        padding: 8px 25px 5px 26px;
        white-space: nowrap;
    }
    
    .top_back_arrow {
        position: relative;
        top: -12px;
        left: 1040.5px;
        padding: 15px 17px 23px 15px;
        box-shadow: 0px 10px 20px #0000001A;
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }
    /*------------------------------------ フッター --------------------------------------*/
    
    hr {
        border: 1px solid #707070;
    }
    
    footer {
        font: normal normal bold 15px "Yu Gothic";
        color: #4A4A4A;
        white-space: nowrap;
    }
    
    .footer_link {
        margin-top: 78.36px;
        display: flex;
        justify-content: center;
    }
    
    .footer_logo {
        margin-right: 310.69px;
        height: 47.29px;
    }
    
    .footer_link a {
        color: #4A4A4A;
    }
    
    .footer_menu1 {
        margin-right: 92px;
    }
    
    .footer_menu1 li {
        margin-bottom: 46px;
    }
    
    .footer_menu2 li {
        margin-bottom: 30px;
    }
    
    .footer_menu2_li1 {
        margin-bottom: 46px!important;
    }
    
    .copy_write {
        text-align: center;
        margin: 35.5px 0 37.5px;
        font: normal normal bold 15px Yu Gothic;
        color: #4A4A4A;
    }
    /*------------------------------------ TAM日記 --------------------------------------*/
    
    .tam_diary {
        height: 290px;
        background-image: url("../image/background_other.png");
        background-size: cover;
    }
    
    .tam_diary h1 {
        font: normal normal bold 28px Noto Sans CJK JP;
        letter-spacing: 8.4px;
        color: #FF5555;
        text-align: center;
        padding-top: 128px;
    }
    
    .tam_diary h2 {
        font: normal normal bold 22px Noto Sans CJK JP;
        letter-spacing: 4.4px;
        color: #2E2E2E;
        text-align: center;
        margin-top: 19px;
    }
    
    .diary_list {
        height: 35px;
        background-color: #F8F8F8;
    }
    
    .diary_list p {
        padding-top: 8px;
        margin-left: 10%;
        font: normal normal bold 14px Yu Gothic;
    }
    /*------------------------------------ 日記一覧 --------------------------------------*/