/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ヘッダー ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

header {
  width: 100%;
  z-index: 99;
  position: relative;
}

.head {
  position: absolute;
  top: 10px;
  left: 0;
  width: 90%;
  height: 47.29px;
}

@media (min-width:1167px) {
  .head {
    top: 23.7px;
    width: 1167.4px;
    left: 0;
    right: 0;
    display: flex;
    margin: 0 auto;
    display: flex;
  }
}

.header_logo {
  width: 170px;
  margin-left: 10px;
}

@media (min-width:770px) {
  .header_logo {
    width: 242.81px;
    margin-right: 67.6px;
    margin-left: 20px;
  }
}

@media (min-width:1000px) {
  .header_logo {
    width: 242.81px;
    margin-right: 87.6px;
  }
}

.header_logo img {
  width: 100%;
}

/*　ハンバーガーボタン　*/

.hamburger {
  display: block;
  position: fixed;
  z-index: 99;
  right: 10px;
  top: 10px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

@media (min-width:1175px) {
  .hamburger {
    display: none;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: rgb(83, 83, 83);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */

.hamburger.active {
  transition: all 0.15s ease-in-out;
  transition-delay: 0.15s;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  width: 0px;
}

.hamburger.active span:nth-child(1), .hamburger.active span:nth-child(3) {
  background: rgb(83, 83, 83);
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hamburger.active span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hamburger.active span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

nav.globalMenuSp {
  right: -120%;
  width: 70%;
  font-size: 1rem;
  color: #4A4A4A;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 60px 20px 0 20px;
}

@media (min-width:770px) {
  nav.globalMenuSp {
    font-size: 1.6rem;
    padding: 60px 20px 0 25px;
  }
}

@media (min-width:1175px) {
  nav.globalMenuSp {
    right: 0;
    position: relative;
    opacity: 1;
    display: block;
    background-color: transparent;
    padding: 0;
    width: 837px;
    top: 20px;
  }
}

nav.globalMenuSp ul {
  padding: 0;
  width: 100%;
}

@media (min-width:1175px) {
  nav.globalMenuSp ul {
    display: flex;
    justify-content: space-between;
  }
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 6px;
  width: 100%;
  transition: .5s all;
  font: normal normal bold 10px Noto Sans CJK JP, sans-serif;
  color: #4A4A4A;
  border-bottom: 1px solid rgb(83, 83, 83);
  white-space: nowrap;
  margin-right: 37.33px;
}

@media (min-width:770px) {
  nav.globalMenuSp ul li {
    padding: 6px;
    font-size: 15px;
  }
}

@media (min-width:1175px) {
  nav.globalMenuSp ul li {
    padding: 0;
    font-size: 15px;
    border-bottom: none;
  }
}

nav.globalMenuSp ul li:last-child {
  margin-right: 0;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #4A4A4A;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */

nav.globalMenuSp.active {
  right: 0;
  opacity: 1;
  display: block;
}

/*------------------------------------ 見出し --------------------------------------*/

.main {
  display: none;
}

@media (min-width:680px) {
  .main {
    display: block;
    position: relative;
    height: 427px;
  }
  .main_mobaile {
    display: none;
  }
}

@media (min-width:1000px) {
  .main {
    height: 573px;
  }
}

@media (min-width:1500px) {
  .main {
    height: 650px;
  }
}

@media (min-width:1660px) {
  .main {
    height: 700px;
  }
}

.header_back, .header_back_mobile {
  width: 100%;
}

.main h1 {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font: normal normal bold 12px/25px Noto Sans CJK JP, sans-serif;
  color: #FF5555;
  letter-spacing: 7px;
  white-space: nowrap;
}

@media (min-width:500px) {
  .main h1 {
    
    font-size: 18px;
    
  }
}

@media (min-width:680px) {
  .main h1 {
    top: 143px;
    font-size: 24px;
    letter-spacing: 12px;
  }
}

@media (min-width:1000px) {
  .main h1 {
    top: 178px;
    font-size: 24px;
    letter-spacing: 12px;
  }
}

@media (min-width:1500px) {
  .main h1 {
    top: 220px;
  }
}

.main_mobile h1 {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font: normal normal bold 12px/25px Noto Sans CJK JP, sans-serif;
  color: #FF5555;
  letter-spacing: 7px;
  white-space: nowrap;
}

@media (min-width:500px) {
  .main_mobile h1 {
    font-size: 18px;
  }
}

.top_white {
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffff;
  width: 80%;
  height: 85px;
  z-index: 10;
}

.top_white_mobile {
  position: relative;
  top: -40px;
  padding-top: 20px;
  text-align: center;
  background-color: #ffff;
  width: 100%;
  height: 150px;
  z-index: 10;
}

.top_white_back_mobile {
  width: 89%;
}

.top_white_universe_mobile {
  animation: anime1_mobile 2s ease 0s infinite normal;
  width: 89%;
}

@keyframes anime1_mobile {
  from {
    transform: scale(1.0, 1.0);
  }
  to {
    transform: scale(1.12, 1.32);
    opacity: 0;
  }
}

@media (min-width:680px) {
  .top_white {
    top: 242.2px;
    width: 686px;
    height: 145px;
  }
  .main_mobile, .main_mobile h1, .top_white_mobile, .top_white_universe_mobile {
    display: none;
  }
}

@media (min-width:1000px) {
  .top_white {
    top: 345px;
    width: 980px;
    height: 228px;
  }
}

@media (min-width:1500px) {
  .top_white {
    top: 400px;
  }
}

@media (min-width:1600px) {
  .top_white {
    top: 450px;
  }
}

.top_white_back {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 64.4%;
  height: 104.8px;
}

@media (min-width:680px) {
  .top_white_back {
    top: 39px;
    width: 552.3px;
    height: 239.8px;
  }
}

@media (min-width:1000px) {
  .top_white_back {
    top: 55.7px;
    width: 789px;
    height: 342.6px;
  }
}

.top_white_universe {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 64.4%;
  height: 104.9px;
  animation: anime1 2s ease 0s infinite normal;
  transform-origin: center;
  box-shadow: 0px 10px 20px #0000001A;
}

@media (min-width:680px) {
  .top_white_universe {
    top: 35px;
    width: 552.3px;
    height: 239.8px;
  }
}

@media (min-width:1000px) {
  .top_white_universe {
    top: 55.7px;
    width: 789px;
    height: 342.6px;
  }
}

@keyframes anime1 {
  from {
    transform: scale(1.0, 1.0);
  }
  to {
    transform: scale(1.26, 1.35);
    opacity: 0;
  }
}

.top_white_logo {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  padding: 0;
}

.top_white_logo_mobile {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}

@media (min-width:680px) {
  .top_white_logo {
    top: 25.2px;
    margin: auto;
    width: 210px;
    height: 210px;
  }
  .top_white_logo_mobile {
    display: none;
  }
}

@media (min-width:1000px) {
  .top_white_logo {
    top: 36px;
    margin: auto;
    width: 300px;
    height: 300px;
  }
}

.top_white a {
  position: absolute;
  top: 97px;
  left: 0;
  right: 0;
  margin: auto;
  width: 69.3px;
  text-align: center;
  padding: 5px 12px 5px 10px;
  color: #ffff;
  background-color: #3D3D3D;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  white-space: nowrap;
  box-shadow: 0px 10px 20px #0000001A;
}

.common_button_mobile {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  margin: auto;
  width: 69.3px;
  text-align: center;
  padding: 5px 12px 5px 10px;
  color: #ffff;
  background-color: #3D3D3D;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
  white-space: nowrap;
  box-shadow: 0px 10px 20px #0000001A;
}

@media (min-width:680px) {
  .top_white a {
    top: 192.5px;
    width: 69.3px;
    padding: 5px 12px 5px 10px;
    font-size: 12px;
  }
  .common_button_mobile {
    display: none;
  }
}

@media (min-width:1000px) {
  .top_white a {
    top: 275px;
    width: 99px;
    padding: 4px 25px 5px 26px;
    font-size: 16px;
  }
}

/*------------------------------------ Strengths --------------------------------------*/

.Strengths {
  position: relative;
  width: 100%;
  height: 1750px;
  background-color: #E7E7E7;
  text-align: center;
}

@media (min-width:770px) {
  .Strengths {
    height: 1400px;
  }
}

@media (min-width:1000px) {
  .Strengths {
    height: 1225px;
  }
}

.strengths_main {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

@media (min-width:530px) {
  .strengths_main {
    top: 150px;
  }
}

@media (min-width:770px) {
  .strengths_main {
    top: 265px;
  }
}

.strengths_main h2 {
  color: #FF5555;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 8.4px;
  margin-bottom: 19px;
}

@media (min-width:770px) {
  .strengths_main h2 {
    font-size: 28px;
  }
}

.strengths_main h3 {
  color: #2E2E2E;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  letter-spacing: 4.4px;
}

@media (min-width:770px) {
  .strengths_main h3 {
    color: #2E2E2E;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
    letter-spacing: 4.4px;
  }
}

.strength_pic {
  position: absolute;
  top: 210px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

@media (min-width:530px) {
  .strength_pic {
    top: 250px;
  }
}

@media (min-width:770px) {
  .strength_pic {
    top: 429px;
  }
}

.strength_pic_list1 {
  display: block;
  width: 90%;
  flex-wrap: wrap;
  padding-left: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

@media (min-width:770px) {
  .strength_pic_list1 {
    display: flex;
    width: 662px;
    height: auto;
    padding-left: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (min-width:1000px) {
  .strength_pic_list1 {
    display: flex;
    width: 981px;
    height: 331px;
    padding-left: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: center;
  }
}

.strength_pic_list1 li {
  width: 306px;
  padding-bottom: 25px;
  margin: 0 auto;
}

@media (min-width:1000px) {
  .strength_pic_list1 li {
    width: 306px;
    margin-bottom: 0;
    text-align: center;
  }
}

.strength_pic_list1 img {
  margin-bottom: 20px;
  width: 306px;
  height: 207.5px;
}

@media (min-width:1000px) {
  .strength_pic_list1 img {
    margin-bottom: 40.5px;
  }
}

.strength_pic_list1 p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: #1A1A1A;
}

.strength_pic_list2 {
  display: block;
  width: 90%;
  height: 340px;
  padding-left: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

@media (min-width:770px) {
  .strength_pic_list1 p {
    font-size: 18px;
  }
}

@media (min-width:770px) {
  .strength_pic_list2 {
    display: flex;
    width: 662px;
    height: 340px;
    padding-left: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;
    text-align: center;
  }
}

@media (min-width:1000px) {
  .strength_pic_list2 {
    display: flex;
    width: 662px;
    height: 340px;
    padding-left: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;
    text-align: center;
  }
}

.strength_pic_list2 li {
  width: 306px;
  padding-bottom: 25px;
  margin: 0 auto;
}

@media (min-width:1000px) {
  .strength_pic_list2 li {
    width: 306px;
    margin-bottom: 0;
    text-align: center;
  }
}

.strength_pic_list2 img {
  margin-bottom: 20px;
  width: 306px;
  height: 207.5px;
}

@media (min-width:1000px) {
  .strength_pic_list2 img {
    margin-bottom: 40.5px;
  }
}

.strength_pic_list2 p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: #1A1A1A;
}

@media (min-width:770px) {
  .strength_pic_list2 p {
    font-size: 18px;
  }
}

.strength_more {
  background-color: #3D3D3D;
  width: 103px;
  height: 33px;
  padding: 5px 25px 5px 25px;
  font: normal normal bold 16px Noto Sans CJK JP, sans-serif;
  color: #fff;
  margin: 250px auto 0;
  display: block;
  letter-spacing: 0.8px;
  white-space: nowrap;
  box-shadow: 0px 10px 20px #0000001A;
}

@media (min-width:770px) {
  .strength_more {
    margin: 0 auto;
  }
}

/*------------------------------------ INTERVIEW --------------------------------------*/

.interview_box {
  height: 730px;
  margin-bottom: 100px;
}

@media (min-width:760px) {
  .interview_box {
    margin-bottom: 0px;
  }
}

@media (min-width:1000px) {
  .interview_box {
    height: 941.64px;
    margin-bottom: 0;
  }
}

.interview_box h1 {
  padding-top: 84.7px;
  margin-bottom: 13px;
  text-align: center;
  font: normal normal bold 24px Noto Sans CJK JP, sans-serif;
  letter-spacing: 8.4px;
  color: #FF5555;
}

@media (min-width:1000px) {
  .interview_box h1 {
    padding-top: 121px;
    margin-bottom: 19px;
    text-align: center;
    font: normal normal bold 28px Noto Sans CJK JP, sans-serif;
    letter-spacing: 8.4px;
    color: #FF5555;
  }
}

.interview_box h2 {
  margin-bottom: 70px;
  text-align: center;
  font: normal normal bold 20px Noto Sans CJK JP, sans-serif;
  letter-spacing: 4.4px;
  color: #2E2E2E;
}

@media (min-width:1000px) {
  .interview_box h2 {
    margin-bottom: 98px;
    font-size: 22px;
  }
}

.interview_picture {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 350px;
}

@media (min-width:770px) {
  .interview_picture {
    width: 686px;
    margin: auto;
  }
}

@media (min-width:1000px) {
  .interview_picture {
    margin: auto;
    width: 980px;
  }
}

.interview_picture img {
  position: relative;
  width: 350px;
}

@media (min-width:1000px) {
  .interview_picture img {
    position: relative;
    width: 370.8px;
  }
}

@media (min-width:1000px) {
  .interview_picture img {
    position: relative;
    width: 529.7px;
  }
}

.interview_right_box {
  position: absolute;
  width: 350px;
  height: 320px;
  top: 220px;
  left: 0;
  background-color: #E7E7E7;
  opacity: 0.9;
}

@media (min-width:770px) {
  .interview_right_box {
    width: 365.2px;
    height: 294px;
    top: 64.12px;
    left: 320.8px;
  }
}

@media (min-width:1000px) {
  .interview_right_box {
    width: 521.69px;
    height: 420px;
    top: 91.6px;
    left: 458.3px;
  }
}

.interview_right_box h3 {
  padding-top: 33.15px;
  padding-bottom: 28.7px;
  padding-left: 44.24px;
  font: normal normal bold 15px "Noto Sans CJK JP", sans-serif;
  letter-spacing: 3.1px;
  color: #2E2E2E;
}

@media (min-width:1000px) {
  .interview_right_box h3 {
    padding-top: 47.36px;
    padding-bottom: 41px;
    padding-left: 63.19px;
    font: normal normal bold 22px "Noto Sans CJK JP", sans-serif;
    letter-spacing: 4.4px;
  }
}

.interview_right_box p {
  margin-left: 44.24px;
  margin-bottom: 15px;
  width: 288.4px;
  text-align: left;
  font: normal normal normal 12px/32px Noto Sans CJK JP, sans-serif;
  letter-spacing: 2.3px;
  color: #2E2E2E;
}

@media (min-width:1000px) {
  .interview_right_box p {
    margin-left: 63.19px;
    margin-bottom: 53px;
    width: 412px;
    font: normal normal normal 16px/32px Noto Sans CJK JP, sans-serif;
    letter-spacing: 3.2px;
  }
}

.interview_right_box a {
  margin-left: 44.24px;
  padding: 6px 25px 6px 26px;
  background-color: #3D3D3D;
  font: normal normal bold 12px "Noto Sans CJK JP", sans-serif;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  box-shadow: 0px 10px 20px #0000001A;
  display: block;
  white-space: nowrap;
  width: 88px;
}

@media (min-width:1000px) {
  .interview_right_box a {
    margin-left: 63.19px;
    font: normal normal bold 16px "Noto Sans CJK JP", sans-serif;
    width: 103px;
    ;
  }
}

/*------------------------------------ FLOW --------------------------------------*/

.flow {
  background-color: #0C0C0C;
  color: #FFFFFF;
  width: 100%;
  height: 1400px;
}

@media (min-width:770px) {
  .flow {
    height: 900px;
  }
}

@media (min-width:1000px) {
  .flow {
    height: 700px;
  }
}

.flow h1 {
  text-align: center;
  padding: 66px 0 14px;
  font: normal normal bold 28px "Noto Sans CJK JP", sans-serif;
  letter-spacing: 8.4px;
}

@media (min-width:1000px) {
  .flow h1 {
    text-align: center;
    padding: 94.36px 0 19px;
    font: normal normal bold 28px "Noto Sans CJK JP", sans-serif;
    letter-spacing: 8.4px;
  }
}

.flow h2 {
  text-align: center;
  margin-bottom: 72px;
  font: normal normal normal 22px "Noto Sans CJK JP", sans-serif!important;
  letter-spacing: 4.4px;
}

@media (min-width:1000px) {
  .flow h2 {
    margin-bottom: 103px;
  }
}

.flow_icon_list {
  display: block;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (min-width:770px) {
  .flow_icon_list {
    display: flex;
    justify-content: center;
    width: 680px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (min-width:1000px) {
  .flow_icon_list {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1225px;
    flex-wrap: nowrap;
  }
}

.flow_icon {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
}

@media (min-width:1000px) {
  .flow_icon {
    padding-bottom: 0;
  }
}

.flow_icon_number {
  font: normal normal normal 30px Ten Mincho, serif;
  letter-spacing: 1.5px;
  color: #FF9494;
  margin-left: 40px;
  z-index: 10;
  position: relative;
}

.icon_box {
  width: 125px;
  height: 105px;
  position: relative;
  top: -17px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  z-index: 5;
  text-align: center;
  padding-top: 25px;
}

@media (min-width:1000px) {
  .icon_box {
    top: -17px;
    z-index: 5;
  }
}

.icon_box p {
  font: normal normal bold 18px "Noto Sans CJK JP", sans-serif;
  letter-spacing: 3.6px;
  color: #2E2E2E;
  padding-top: 38px;
}

.flow_icon p {
  text-align: center;
}

.flow_constract {
  margin-top: 17px;
  margin-bottom: 18px;
  font: normal normal bold 18px "Noto Sans CJK JP", sans-serif;
  letter-spacing: 3.6px;
}

@media (min-width:1000px) {
  .flow_constract {
    margin-top: 24px;
    margin-bottom: 25px;
  }
}

.flow_detail {
  font: normal normal normal 14px/32px "Noto Sans CJK JP", sans-serif;
}

.more_button {
  width: 99px;
  height: 33px;
  margin: 52px auto 88.64px;
}

.more_button a {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px #0000001A;
  font: normal normal bold 16px "Noto Sans CJK JP", sans-serif;
  letter-spacing: 0.8px;
  color: #232323;
  padding: 8px 25px 7px 26px;
  white-space: nowrap;
  display: block;
  width: 103px;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ フッター ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

footer {
  position: relative;
  font: normal normal bold 12px "Noto Sans CJK JP", sans-serif;
  color: #4A4A4A;
  white-space: nowrap;
}

@media (min-width:770px) {
  footer {
    font: normal normal bold 15px "Noto Sans CJK JP", sans-serif;
  }
}

.top_back_arrow {
  position: absolute;
  top: -30px;
  right: 5%;
}

.top_back_arrow img {
  box-shadow: 0px 10px 20px #0000001A;
}

.footer_link {
  width: 350px;
  padding-top: 40px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width:770px) {
  .footer_link {
    width: 80%;
    padding: 78.36px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
  }
}

@media (min-width:1185px) {
  .footer_link {
    width: 900px;
    padding: 78.36px 0 0 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
  }
}

.footer_link div {
  margin-right: 0px;
  height: 47.29px;
  margin-bottom: 40px;
}

@media (min-width:770px) {
  .footer_link div {
    margin-bottom: 0;
  }
}

@media (min-width:1000px) {
  .footer_link div {
    margin-right: 310.69px;
    margin-bottom: 0;
  }
}

.footer_menu1 div, .footer_menu2 div{
  margin-right: 0;
  height: 170px;
}

@media (min-width:770px) {
  .footer_menu1 div, .footer_menu2 div{
    height: 240px;
  }
}

.footer_logo:hover {
  opacity: 0.8;
  transform: translateY(2px);
}

.footer_link a {
  color: #4A4A4A;
}

.footer_menu1 {
  margin-right: 64.4px;
}

@media (min-width:1000px) {
  .footer_menu1 {
    margin-right: 92px;
  }
}

.footer_menu1 li, .footer_menu2 li {
  margin-bottom: 46px;
}

.copy_write {
  text-align: center;
  margin: 35.5px 0 37.5px;
  font: normal normal bold 15px Noto Sans CJK JP, sans-serif;
  color: #4A4A4A;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ページ共通 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

a:hover, .check_btn:hover {
  opacity: 0.8;
}

.common_button:hover, .check_btn:hover, .back_button:hover {
  transform: translateY(2px);
}

.check_btn {
  cursor: pointer;
}

.background_other {
  height: 200px;
  background-image: url("../image/background_other.png");
  background-size: cover;
}

@media (min-width:770px) {
  .background_other {
    height: 290px;
  }
}

.background_other h1 {
  font: normal normal bold 22px Noto Sans CJK JP, sans-serif;
  letter-spacing: 8.4px;
  color: #FF5555;
  text-align: center;
  padding-top: 75px;
}

@media (min-width:770px) {
  .background_other h1 {
    font-size: 28px;
    padding-top: 128px;
  }
}

.background_other h2 {
  font: normal normal bold 18px Noto Sans CJK JP, sans-serif;
  letter-spacing: 4.4px;
  color: #2E2E2E;
  text-align: center;
  margin-top: 19px;
}

@media (min-width:770px) {
  .background_other h2 {
    font-size: 22px;
  }
}

.subtitle {
  height: 35px;
  background-color: #F8F8F8;
}

.subtitle p {
  width: 90%;
  padding-top: 8px;
  margin: 0 auto;
  font: normal normal bold 12px Noto Sans CJK JP, sans-serif;
}

@media (min-width:770px) {
  .subtitle p {
    width: 80%;
    font-size: 14px
  }
}

@media (min-width:1050px) {
  .subtitle p {
    width: 979.5px;
  }
}

.subtitle a {
  color: black;
}