/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ interview ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.interview_container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width:680px) {
  .interview_container {
    width: 80%;
    max-width: 981px;
    margin: 0 auto;
  }
}

/*------------------------------------ INTERVIEW TOP --------------------------------------*/

.interview_top_box {
  display: block;
  justify-content: space-between;
  width: 100%;
  margin: 30px auto 30px;
}

@media (min-width:680px) {
  .interview_top_box {
    display: flex;
    justify-content: space-between;
    margin: 98px auto 100px;
  }
}

.interview_top_box_img {
  width: 100%;
  max-width: 450px;
  margin: 0 auto 30px;
}

@media (min-width:680px) {
  .interview_top_box_img {
    width: 45.87%;
    max-width: 450px;
    margin: 0 3.88% 0 0;
  }
}

.interview_top_box_img img {
  width: 100%;
}

.interview_top_box_introduction {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width:680px) {
  .interview_top_box_introduction {
    width: 50.15%;
    max-width: 492px;
    margin: 0 auto;
    padding: 0 0 0 0;
  }
}

.interview_top_box_introduction p {
  color: #FF5555;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2.44%;
}

@media (min-width:920px) {
  .interview_top_box_introduction p {
    font-size: 16px;
  }
}

.interview_top_box_introduction h2 {
  width: 100%;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #2E2E2E;
  border-bottom: 2px solid #E7E7E7;
  margin-bottom: 7.85%;
  padding-bottom: 17px;
}

@media (min-width:680px) {
  .interview_top_box_introduction h2 {
    width: 100%;
    font-size: 20px;
  }
}

@media (min-width:920px) {
  .interview_top_box_introduction h2 {
    font-size: 28px;
  }
}

.interview_top_box_introduction span {
  color: #E7E7E7;
  margin-left: 5%;
}

.interview_top_box_introduction h3 {
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #2E2E2E;
  margin-left: 0;
  text-align: center;
}

@media (min-width:680px) {
  .interview_top_box_introduction h3 {
    font-size: 18px;
    margin-left: 13%;
    text-align: left;
  }
}

@media (min-width:920px) {
  .interview_top_box_introduction h3 {
    font-size: 28px;
    line-height: 55px;
  }
}

/*------------------------------------ INTERVIEW 01 --------------------------------------*/

.interview_01_cont {
  width: 100%;
  margin-bottom: 19px;
}

@media (min-width:920px) {
  .interview_01_cont {
    margin-bottom: 60px;
  }
}

.interview_01_cont_title {
  display: flex;
  margin-bottom: 17px;
  height: 45px;
  background-color: #E7E7E7;
}

@media (min-width:920px) {
  .interview_01_cont_title {
    margin-bottom: 34px;
    height: 65px;
  }
}

.interview_01_cont_title_text {
  color: #2E2E2E;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 13px;
  line-height: 45px;
}

@media (min-width:920px) {
  .interview_01_cont_title_text {
    font-size: 18px;
    line-height: 65px;
  }
}

.interview_01_cont_title_num {
  color: #FF9494;
  font-family: "toppan-bunkyu-mincho-pr6n", serif;
  font-size: 20px;
  margin-right: 5px;
  line-height: 45px;
  margin-left: 1.73%;
}

@media (min-width:920px) {
  .interview_01_cont_title_num {
    font-size: 30px;
    line-height: 65px;
    margin-right: 1.38%;
  }
}

.interview_01_cont_box {
  width: 100%;
  padding-left: 1.02%;
  padding-right: 3.77%;
}

.interview_01_cont_box p {
  color: #2E2E2E;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 13px;
  line-height: 25px;
}

@media (min-width:1000px) {
  .interview_01_cont_box p {
    font-size: 16px;
    line-height: 36px;
  }
}

/*------------------------------------ INTERVIEW 02 --------------------------------------*/

.interview_02_cont_box_flex {
  display: block;
  justify-content: space-between;
  padding-left: 1.02%;
  padding-right: 3.77%;
}

@media (min-width:680px) {
  .interview_02_cont_box_flex {
    display: flex;
    justify-content: space-between;
    padding-left: 1.02%;
    padding-right: 3.77%;
  }
}

.interview_02_cont_box_flex_left {
  width: 100%;
  color: #2E2E2E;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 13px;
  padding-right: 3%;
  line-height: 25px;
}

@media (min-width:680px) {
  .interview_02_cont_box_flex_left {
    font-size: 13px;
    width: 50%;
    line-height: 25px;
  }
}

@media (min-width:1000px) {
  .interview_02_cont_box_flex_left {
    font-size: 16px;
    width: 62.15%;
    line-height: 36px;
  }
}

.interview_02_cont_box_flex_left br {
  display: none;
}

@media (min-width:1000px) {
  .interview_02_cont_box_flex_left br {
    display: block;
  }
}

.interview_02_cont_box_flex_right {
  width: 100%;
}

@media (min-width:680px) {
  .interview_02_cont_box_flex_right {
    width: 50%;
    display: flex;
    align-items: center;
  }
}

@media (min-width:1000px) {
  .interview_02_cont_box_flex_right {
    width: 37.85%;
    display: block;
  }
}

.interview_02_cont_box_flex_right img {
  padding-top: 3%;
  width: 100%;
}

/*------------------------------------ INTERVIEW 04 --------------------------------------*/

.interview_04_cont_box_flex_left {
  width: 100%;
}

@media (min-width:680px) {
  .interview_04_cont_box_flex_left {
    width: 50%;
    display: flex;
    align-items: center;
  }
}

@media (min-width:1000px) {
  .interview_04_cont_box_flex_left {
    width: 37.85%;
  }
}

.interview_04_cont_box_flex_left img {
  width: 100%;
}

@media (min-width:680px) {
  .interview_04_cont_box_flex_left img {
    margin-top: 12px;
  }
}

.interview_04_cont_box_flex_right {
  width: 100%;
  color: #2E2E2E;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 13px;
  line-height: 25px;
}

@media (min-width:680px) {
  .interview_04_cont_box_flex_right {
    width: 50%;
    padding-left: 4%;
    line-height: 25px;
    font-size: 13px;
  }
}

@media (min-width:1000px) {
  .interview_04_cont_box_flex_right {
    width: 62.15%;
    padding-left: 4%;
    line-height: 36px;
    font-size: 16px;
  }
}

/*------------------------------------ INTERVIEW 06 --------------------------------------*/

.interview_06_cont_box {
  width: 100%;
  padding: 6% 0 55% 0;
  background-image: url(../image/interview05.png);
  background-position: center 330px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width:450px) {
  .interview_06_cont_box {
    background-position: center 220px;
  }
}

@media (min-width:580px) {
  .interview_06_cont_box {
    width: 100%;
    background-position: center 100px;
    background-size: contain;
  }
}

@media (min-width:680px) {
  .interview_06_cont_box {
    width: 100%;
    padding: 6% 0 35% 0;
    background-image: url(../image/interview05.png);
    background-position: center 20px;
    background-size: cover;
  }
}

.interview_06_cont_box br {
  display: none;
}

@media (min-width:800px) {
  .interview_06_cont_box br {
    display: block;
  }
}

.interview_06_cont_box p {
  color: #2E2E2E;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 13px;
  line-height: 25px;
  padding: 0 3.77% 0 1.02%;
}

@media (min-width:1000px) {
  .interview_06_cont_box p {
    font-size: 16px;
    line-height: 36px;
  }
}