/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ プライバシーポリシー ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.privacy_def {
  padding: 30px 0 20px;
  text-align: center;
  font: normal normal bold 14px/24px Noto Sans CJK JP;
  letter-spacing: 0.8px;
  color: #2E2E2E;
  width: 90%;
  margin: auto;
}

.privacy_def br {
  display: none;
}

@media (min-width:770px) {
  .privacy_def {
    width: 100%;
    padding: 40px 0 30px;
    font: normal normal bold 14px/32px Noto Sans CJK JP;
  }
  .privacy_def br {
    display: block;
  }
}

@media (min-width:1050px) {
  .privacy_def {
    font-size: 16px;
    padding: 88px 0 47px;
  }
}

.privacy_details {
  background-color: #E7E7E7;
  width: 90%;
  margin: 0 auto 50px;
  padding: 15px 20px 15px 20px;
}

@media (min-width:770px) {
  .privacy_details {
    margin-bottom: 95px;
    width: 80%;
    padding: 30px 40px 30px 40px;
  }
}

@media (min-width:1050px) {
  .privacy_details {
    width: 980px;
    padding: 64px 85px 65px 90px;
  }
}

.privacy_details h3 {
  font: normal normal bold 14px/32px Noto Sans CJK JP;
  letter-spacing: 0.8px;
  color: #2E2E2E;
  margin-bottom: 10px;
}

@media (min-width:770px) {
  .privacy_details h3 {
    margin-bottom: 18px;
  }
}

.privacy_explain {
  width: 100%;
  margin-bottom: 18px;
}

@media (min-width:770px) {
  .privacy_explain {
    width: 100%;
    margin-bottom: 22px;
  }
}

@media (min-width:1050px) {
  .privacy_explain {
    width: 805px;
  }
}

.privacy_details p, .privacy_details li {
  text-align: left;
  font: normal normal normal 14px/28px Noto Sans CJK JP;
  letter-spacing: 0.7px;
  color: #2E2E2E;
  list-style: decimal;
}

.privacy_details ul li {
  list-style: disc;
}

.org_style {
	list-style-type: disc;
	list-style-position: outside;
}

.org_style li {
  list-style: none!important;
  counter-increment: cnt;
  text-indent: -2em;
  padding-left: 0.5em;
}

.org_style li::before {
  content: "(" counter(cnt) ") ";
}

.privacy_explain ol, .privacy_details ul {
  padding-left: 20px;
}