/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ プライバシーポリシー ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.privacy_def {
  padding: 88px 0 47px;
  text-align: center;
  font: normal normal bold 16px/32px Noto Sans CJK JP;
  letter-spacing: 0.8px;
  color: #2E2E2E;
}

.privacy_details {
  padding: 64px 85px 65px 90px;
  background-color: #E7E7E7;
  width: 980px;
  margin: 0 auto 95px;
}

.privacy_details h3 {
  font: normal normal bold 16px/32px Noto Sans CJK JP;
  letter-spacing: 0.8px;
  color: #2E2E2E;
  margin-bottom: 18px;
}

.privacy_explain {
  width: 805px;
  margin-bottom: 22px;
}

.privacy_details p, .privacy_details li {
  text-align: left;
  font: normal normal normal 14px/28px Noto Sans CJK JP;
  letter-spacing: 0.7px;
  color: #2E2E2E;
  list-style: decimal;
}

.privacy_details ul li {
  list-style: disc;
}

.org_style {
	list-style-type: disc;
	list-style-position: outside;
}

.org_style li {
  list-style: none!important;
  counter-increment: cnt;
  text-indent: -2em;
  padding-left: 0.5em;
}

.org_style li::before {
  content: "(" counter(cnt) ") ";
}

.privacy_explain ol, .privacy_details ul {
  padding-left: 20px;
}