/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ service ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.service_container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width:680px) {
  .service_container {
    width: 80%;
    max-width: 981px;
    margin: 0 auto;
  }
}

/*------------------------------------ service --------------------------------------*/

.service_toptitle {
  width: 100%;
  margin: 0 auto 90px;
}

.service_toptitle h1 {
  width: 90%;
  text-align: center;
  color: #2E2E2E;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  margin: 30px auto 0;
}

@media (min-width:520px) {
  .service_toptitle h1 {
    font-size: 20px;
    margin-top: 45px;
  }
}

@media (min-width:800px) {
  .service_toptitle h1 {
    font-size: 22px;
    margin-top: 90px;
  }
}

.service_toptitle h2, .service_toptitle h3 {
  text-align: center;
  color: #2E2E2E;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 40px;
}

@media (min-width:520px) {
  .service_toptitle h2, .service_toptitle h3 {
    font-size: 14px;
    line-height: 32px;
    margin-top: 60px;
  }
}

@media (min-width:800px) {
  .service_toptitle h2, .service_toptitle h3 {
    font-size: 16px;
  }
}

.service_toptitle h2 br, .service_toptitle h3 br {
  display: none;
}

@media (min-width:520px) {
  .service_toptitle h2 br, .service_toptitle h3 br {
    display: block;
  }
}

/*------------------------------------ 管理プラン --------------------------------------*/

.service_plan {
  width: 100%;
  height: 1600px;
  background-color: #E7E7E7;
  padding: 35px 0 0 0;
  margin-bottom: 40px;
}

@media (min-width:800px) {
  .service_plan {
    height: 1038px;
    padding: 86px 0 0 0;
    margin-bottom: 80px;
  }
}

.service_title {
  font-family: "Noto Sans CJK JP", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #FF2222;
  text-align: center;
  margin: 0 auto 30px;
}

@media (min-width:800px) {
  .service_title {
    font-size: 22px;
    margin: 0 auto 76px;
  }
}

.service_plan_flex01 {
  display: block;
  justify-content: space-between;
  width: 95%;
  max-width: 981px;
  margin: 0 auto;
}

@media (min-width:800px) {
  .service_plan_flex01 {
    display: flex;
    width: 80%;
  }
}

.service_plan_flex_box01 {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto 20px;
}

@media (min-width:520px) {
  .service_plan_flex_box01 {
    position: relative;
    width: 500px;
    height: 230px;
    margin: 0 auto 49px;
  }
}

@media (min-width:800px) {
  .service_plan_flex_box01 {
    position: relative;
    width: 200px;
    max-width: 306px;
    height: 346px;
    margin: 0 auto 49px;
  }
}

@media (min-width:1000px) {
  .service_plan_flex_box01 {
    width: 31.192%;
  }
}

.service_plan_flex_box01 img, .service_plan_flex02 img {
  text-align: center;
  margin: 15px auto 10px;
}

@media (min-width:800px) {
  .service_plan_flex_box01 img, .service_plan_flex02 img {
    margin: 36px auto 13px;
  }
}

.service_plan_flex_box01 h4, .service_plan_flex_box02 h4 {
  font-family: "Noto Sans CJK JP", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #1A1A1A;
  margin: 0 auto 10px;
}

@media (min-width:800px) {
  .service_plan_flex_box01 h4, .service_plan_flex_box02 h4 {
    font-size: 16px;
    margin: 0 auto 17px;
  }
}

@media (min-width:1000px) {
  .service_plan_flex_box01 h4, .service_plan_flex_box02 h4 {
    font-size: 18px;
  }
}

.service_plan_flex_box01 p, .service_plan_flex_box02 p {
  width: 100%;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 14px;
  padding: 3px;
}

@media (min-width:800px) {
  .service_plan_flex_box01 p, .service_plan_flex_box02 p {
    text-align: left;
    margin: 0 auto 48px;
  }
}

@media (min-width:1000px) {
  .service_plan_flex_box01 p, .service_plan_flex_box02 p {
    width: 273px;
    font-size: 16px;
    padding: 0%;
    letter-spacing: 1.5;
  }
}

.service_plan_flex_box01 p br, .service_plan_flex_box02 p br {
  display: none;
}

@media (min-width:1000px) {
  .service_plan_flex_box01 p br, .service_plan_flex_box02 p br {
    display: block;
  }
}

.service_plan_flex_box01 a, .service_plan_flex_box02 a {
  position: absolute;
  top: 90%;
  left: 70%;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #FF5555;
  cursor: pointer;
}

@media (min-width:520px) {
  .service_plan_flex_box01 a, .service_plan_flex_box02 a {
    left: 80%;
  }
}

@media (min-width:800px) {
  .service_plan_flex_box01 a, .service_plan_flex_box02 a {
    top: 86.7%;
    left: 37%;
  }
}

.service_plan_flex02 {
  display: block;
  width: 95%;
  margin: 0 auto;
}

@media (min-width:800px) {
  .service_plan_flex02 {
    display: flex;
    justify-content: space-between;
    width: 65.545%;
    max-width: 643px;
  }
}

.service_plan_flex_box02 {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto 20px;
}

@media (min-width:520px) {
  .service_plan_flex_box02 {
    position: relative;
    width: 500px;
    height: 230px;
    margin: 0 auto 49px;
  }
}

@media (min-width:800px) {
  .service_plan_flex_box02 {
    position: relative;
    width: 200px;
    max-width: 306px;
    height: 346px;
    margin: 0 auto 49px;
  }
}

@media (min-width:1000px) {
  .service_plan_flex_box02 {
    width: 47.589%;
  }
}

/*------------------------------------ PM --------------------------------------*/

.pm_bm_toptext {
  text-align: center;
  color: #2E2E2E;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}

@media (min-width:520px) {
  .pm_bm_toptext {
    font-size: 14px;
    line-height: 32px;
  }
}

@media (min-width:800px) {
  .pm_bm_toptext {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.7px;
  }
}

.pm_bm_box {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto 80px;
  flex-wrap: wrap;
  border-bottom: none;
  border-left: none;
}

@media (min-width:985px) {
  .pm_bm_box {
    width: 981px;
    border-bottom: 1px solid #A5A5A5;
    border-left: 1px solid #A5A5A5;
  }
}

.pm_bm_box_module {
  display: flex;
  justify-content: space-between;
  width: 326px;
  height: 120px;
  border-top: 1px solid #A5A5A5;
  border-right: 1px solid #A5A5A5;
  border-bottom: 1px solid #A5A5A5;
  border-left: 1px solid #A5A5A5;
  margin: 10px;
}

@media (min-width:985px) {
  .pm_bm_box_module {
    display: flex;
    justify-content: space-between;
    width: 326px;
    height: 120px;
    border-top: 1px solid #A5A5A5;
    border-right: 1px solid #A5A5A5;
    border-bottom: none;
    border-left: none;
    margin: 0;
  }
}

.pm_bm_box_module img {
  width: 81px;
  height: 81px;
  display: flex;
  align-items: center;
  margin: 6% 0 0 4%;
}

.pm_bm_box_module p {
  width: 56.88%;
  margin: 5% auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #2E2E2E;
  line-height: 30px;
}

/*------------------------------------ 対応エリア --------------------------------------*/

.cover_box {
  width: 95%;
  display: block;
  margin: 0 auto 40px;
  text-align: center;
}

@media (min-width:500px) {
  .cover_box {
    width: 95%;
    display: flex;
    margin: 0 auto 50px;
    text-align: left;
  }
}

@media (min-width:985px) {
  .cover_box {
    width: 981px;
    display: flex;
    margin: 0 auto 97px;
  }
}

.cover_box img {
  margin: 0 auto 20px;
  width: 70%;
  height: auto;
  max-width: 425px;
  text-align: center;
}

@media (min-width:500px) {
  .cover_box img {
    margin: 0 32px 0 0;
    width: 60%;
    height: auto;
    max-width: 425px;
    text-align: left;
  }
}

@media (min-width:750px) {
  .cover_box img {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0 64px 0 0;
    max-width: 425px;
  }
}

.cover_box p {
  display: flex;
  align-items: center;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 14px;
  color: #2E2E2E;
}

@media (min-width:985px) {
  .cover_box p {
    font-size: 16px;
  }
  }